.box {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: 'Amiri', serif;
  border-radius: 5% / 5%;
  /*text-shadow: 4px 4px 0 rgba(0,0,0,0.1);*/
  padding: 10px;
  max-width: 40vw;
}

.box1 {background: black;}
.box2 {background: black;}
.box3 {background: black;}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height:250vh;
  align-items: center;
  /*border: 10px solid mistyrose;*/
}